# Don't include compiled binaries
Build/
bin/
obj/

# Don't include secrets
db_config.yml

# Don't ignore Python cache
*.pyc
__pycache__

# Don't include IDE specific files
.idea
.vs/
.vscode/

# Don't include user specific files
*.user

# Don't include example PNGs
example1.png
example2.png