<!DOCTYPE html>
<html>

<head>
    <title>MMCC Poller</title>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="main.css") }}>
</head>

<body>
    <div class="main">
        <h1>MMCC Poller</h1>

        <form method="post" action="/">
            <label for="from">
                <b>From</b>
            </label>
            <input value={{ last.from or '' }} required type="date" name="from">

            <label for="to">
                <b>To</b>
            </label>
            <input value={{ last.to or '' }} required type="date" name="to">

            <label for="mode">
                <b>Display Mode</b>
            </label>

            <select required name="mode">
                <option {{ "selected" if last.mode == "week" or not last.mode }} value="week">Weekly average</option>
                <option {{ "selected" if last.mode == "day" }} value="day">Daily average</option>
                <option {{ "selected" if last.mode == "hour" }} value="hour">Hourly average</option>
                <option {{ "selected" if last.mode == "raw" }} value="raw">Raw data</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>

    {% if img %}
    <img src="data:image/png;base64, {{ img }}" alt="Poller result" />
    {% endif %}

</body>

</html>
